.home {

display: block;
margin: 20px;
padding: 10px;
margin-bottom: 70px;
margin-top: 70px;
width: 800px;
margin-left: auto;
margin-right: auto;
}
.Skills{
  

margin-right: auto;
border-top: 1px solid black;
font-size: 26px;


}