img {

width: 250px;
height: 150px;

}

.projects{
display: block;
grid-column: span;
justify-items: center;
justify-content: space-start;
margin: 10px;
background-color: #E2E8CE;
flex-shrink: 3;


}
.project1,
.project2,
.project3,
.project4{
display: flex;
justify-content:space-around;
border: 3px solid rgb(2, 28, 34);
text-align: start;
margin-top: 20px;
align-items: flex-start;
margin: 20px;
padding: 25px;
}

.links {
text-decoration: none;
display: block;
justify-content: right;
text-shadow:none;
font-weight: 900;
color: rgb(95, 131, 10);
margin: 10px;
margin-top: 30px;

}
.proImg{

display: inline-block;
margin: 20px;
height: 200px;
width: 350px;
border: 3px solid black;
}

.texts {
display: inline-block;
justify-content: flex-start;
font-size: 25px;
align-items: flex-start;
margin: 14px;
}